$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    background-color: rgb(252, 249, 246);
    font-family: 'Noto Sans', sans-serif;
    padding-bottom: 20px;
}

.header-nav {
    
    .logo {
        margin-bottom: 1.5em;
        position: fixed;
        top: 0;
        left: 50%;
        z-index: 99;
        @include translate(-50%,0);
        img {
            width: 80px;
            height: auto;
            margin: auto;
        }
    }
}

.content {
    margin-top: 120px;
}

.page {
    &.ng-leave {
        @include animation(0.5s fade-out);
    }
    &.ng-enter {
        @include animation(0.5s fade-in);
    }
}

.imgbox {
    position: relative;
    margin-bottom: 5%;
    h5 {
        font-weight: 700;
    }
    .gallery-thumb {
        background-position: center center;
        background-size: cover;
        display: block;
        position: relative;
        padding-top: 65%;
        width: 100%;
        &:after {
            content: '';
            display: block;
            background-color: rgb(244,244,244);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            font-weight: bold;
            text-align: center;
            vertical-align: middle;
            visibility: visible;
            @include transition(opacity 450ms);
        }
        &:hover {
            &:after {
                @include transition(opacity 350ms);
                opacity: 0.95;
                visibility: visible;
            }
        }
    }
        
    /* ngAnimate Animations */
    &.ng-enter {
        opacity: 0;
        @include transition(1s cubic-bezier(0.86, 0, 0.07, 1) opacity);
        &.ng-enter-active {
            opacity: 1;
            @include transition(1s cubic-bezier(0.86, 0, 0.07, 1) opacity);
        }
    }
    &.ng-enter-stagger {
        @include transition-delay(250ms);
        @include transition-duration(0s);
    }
}

/* Animations */
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-moz-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-webkit-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

